.blog-post {
    margin-bottom: 5%;
    border: 1px solid #000;
    padding: 19px;
    background-color: #ffebd3;
    border-radius: 5px;
}

.blog-post-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.blog-post section p {
    margin: 0;
    margin-top: 10px;
}

.blog-post section h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px; 
}

.mono-space{
    font-family: monospace;
}

.fsi-14{
    font-size: 14px;
}